{% extends 'ClemacPortfolioBundle::layout_admin.html.twig' %}

{% block title %}Projet - {{ parent() }}{% endblock %}

{% block breadcrumbTitle %}
  <i class="fa fa-code"></i> Site web
  <small>Liste des projets</small>
{% endblock %}

{% block breadcrumbLink %}
  <li><a href="{{ path('clemac_portfolio_admin_achievement') }}"><i class="fa fa-code"></i> Site web</a></li>
  <li class="active"><a href="{{ path('clemac_portfolio_admin_achievement') }}">index</a></li>
{% endblock breadcrumbLink %}

{% block bodycontent %}
  <hr />
  <p>
    <a href="{{ path('clemac_portfolio_admin_achievement_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Create a new entry</a>
  </p>
  {% for entity in entities %}
    <div class="box box-success collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ entity.title }}</h3>
        <div class="box-tools pull-right">
          <a href="{{ path('clemac_portfolio_admin_achievement_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> edit</a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="col-sm-12 col-md-6 col-lg-5">
          <img src="{{ asset(entity.getWebPathImage) }}" class="img-responsive" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7">
          <p>
            {{ entity.description }}
          </p>
          <p>
            <a href="{{ entity.url }}">
          </p>
        </div>
        <div class="clearfix"></div>
      </div><!-- /.box-body -->
    </div>
  {% endfor %}
{% endblock %}
